body {
	background: #00777b; /* Color de fondo */
	font-family: sans-serif;

	/*	Imagen de fondo*/
	background-image: url('https://i.redd.it/yvyj7hwc4pv31.jpg');
	background-size: cover;
	opacity: 0.9;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	background: #f7e7be; /* Color de fondo del cuadro de inicio de sesión */
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
    text-align: center;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #005366; /* Color del título */
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #005366; /* Color del texto de los campos de entrada */
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #005366; /* Color de la línea inferior de los campos de entrada */
	outline: none;
	background: transparent;
}

.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #005366; /* Color del texto de las etiquetas */
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #005366; /* Color de la etiqueta al enfocar o cuando el campo no está vacío */
	font-size: 12px;
}

.login-box a {
	display: inline-block;
	background: #005366; /* Color del botón */
	color: #f7e7be; /* Color del texto del botón */
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	margin-top: 40px;
	border-radius: 25px;
	transition: 0.5s;
}

.login-box a:hover {
	background: #00777b; /* Color del botón al pasar el mouse */
	color: #f7e7be; /* Color del texto del botón al pasar el mouse */
}