<div class="main-top">
    <h1>Inventario</h1>
</div>

<div>
    <div class="dash-container">
        <div class="dash-item dash-header">
            <div class="dash-item-title">Activos</div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">
                <label></label>Ingresar<label class="resize"><i class="fa-solid fa-maximize" style="float:right;"></i></label>
            </div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">
                <label></label>Productos<label class="resize"><i class="fa-solid fa-maximize" style="float:right;"></i></label>
            </div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item dash-footer">
            <div class="dash-item-title">Totales</div>
            <div class="dash-item-content"></div>
        </div>
    </div>
</div>