<div class="main-top">
    <h1>Inventario</h1>
</div>
</div>

<div>
    <div class="dash-container">
        <div class="dash-item dash-header">
            <div class="dash-item-title">Activos</div>
            <div class="dash-item-content"> </div>
        </div>

        <div class="dash-item">
            <div class="dash-item-title"><span>Ingresar</span> <i class="fa-solid fa-expand"></i></div>
            <div class="dash-item-inventory">

                <span>Ingrese los datos de un objeto para capturarlo en el inventario.</span>

                <div>
                    <form id="loaditemform" action="/loaditem" method="post" class="inventory-form">

                        <label for="ItemName"><span>Nombre</span></label>
                        <input type="text" id="ItemName" required="true" placeholder="Nombre del producto">

                        <label for="ItemDesc">Descripción</label>
                        <input type="text" id="ItemDesc" placeholder="Opcional">

                        <label for="ItemBrand">Marca</label>
                        <input type="text" id="ItemBrand" required="true" placeholder="Modelo del producto">

                        <label for="ItemModel">Modelo</label>
                        <input type="text" id="ItemModel" required="true" placeholder="Serial del producto">

                        <label for="ItemQuantity">Cantidad</label>
                        <input type="number" id="ItemQuantity" value="" required="true">

                        <label for="ItemPrice">Precio unitario</label>
                        <input type="number" id="ItemPrice" value="" required="true">

                        <label for="ItemType">Tipo:</label>
                        <select id="ItemType" required="true">
                            <option value="" disabled selected>Seleccione:</option>
                            <option value="Case">Case</option>
                            <option value="Plates">Plates</option>
                            <option value="PCB">PCB</option>
                            <option value="Leds">Leds</option>
                            <option value="Diodos">Diodos</option>
                            <option value="Estabilizadores">Estabilizadores</option>
                            <option value="Switches">Switches</option>
                            <option value="Teclas">Teclas</option>
                            <option value="Cables">Cables</option>
                            <option value="Baterias">Baterias</option>
                            <option value="Microcontroladores">Microcontroladores</option>
                        </select>
                        <!-- 
                        <label for="ItemMicroName">Nombre del microcontrolador:</label>
                        <input type="text"> -->
                        <button type="submit" class="add-item"><span>Añadir </span><i class="fa-solid fa-add"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="dash-item">
            <div class="dash-item-title">Productos <i class="fa-solid fa-expand"></i></div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item dash-footer">
            <div class="dash-item-title">Totales</div>
            <div class="dash-item-content"> </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById("loaditemform").addEventListener("submit", function(event) {
    event.preventDefault(); // evita el comportamiento predeterminado de envío del formulario
  
    // envía los datos del formulario usando AJAX
    const xhr = new XMLHttpRequest();
    xhr.open("post", "/loaditem");
    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xhr.onload = function() {
        if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            if (response.success) {
                showAlert(response.message, 'success', '#008f39');
            } else {
                showAlert(response.message, 'success', '#008f39');
            }
        } else {
            showAlert(response.message, 'warning', '#0000FF');
        }
    };
    xhr.send(JSON.stringify({
        ItemName: document.getElementById("ItemName").value,
        ItemDesc: document.getElementById("ItemDesc").value,
        ItemBrand: document.getElementById("ItemBrand").value,
        ItemModel: document.getElementById("ItemModel").value,
        ItemQuantity: document.getElementById("ItemQuantity").value,
        ItemPrice: document.getElementById("ItemPrice").value,
        ItemType: document.getElementById("ItemType").value,
    }));
    });

    function showAlert(message, icon, iconColor) {
        Swal.fire({
            position: 'center',
            icon: icon,
            iconColor: iconColor,
            title: message,
            background: '#D2D2D4',
            color: '#0C151C',
            confirmButtonColor: '#16354D'
        })
    }
</script>