<style>
    .dash-container {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        height: calc(100% - 4em);
        display: grid;
        padding: 15px;
        grid-template-columns: auto auto;
        grid-row: auto;
        gap: 1em;
        grid-template-rows: 20% 60% 20%;
    }

    .dash-item {
        background-color: #f7e7be;
        padding: 5px;
        border: 2px solid #005366;
        border-radius: 10px;
    }

    .dash-item:hover {
        box-shadow: 0 6px 8px 0 rgba(0, 83, 102, 0.77);
    }

    .dash-header,
    .dash-footer {
        grid-column: 1 / 3;
    }

    .dash-item-title {
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: #005366;
    }

</style>

<div>
    <div class="dash-container">
        <div class="dash-item dash-header">
            <div class="dash-item-title">Portafolio</div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Contenido</div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Contenido</div>
            <div class="dash-item-content"></div>
        </div>
        <div class="dash-item dash-footer">
            <div class="dash-item-title">Contenido</div>
            <div class="dash-item-content"></div>
        </div>
    </div>
</div>