
<div class="main-top">
    <h1>Dashboard</h1>
  </div>

<div>
    <div class="dash-container">
        <div class="dash-item dash-header">
            <div class="dash-item-title">Resumen</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Ordenes en produccion</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Inventario</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item dash-footer">
            <div class="dash-item-title">Contenido</div>
            <div class="dash-item-content"> </div>
        </div>
    </div>
</div>