
<div class="main-top">
    <h1>Ordenes de Trabajo</h1>
  </div>

<div>
    <div class="dash-container">
        <div class="dash-item dash-header">
            <div class="dash-item-title">En produccion</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Capturar orden</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item">
            <div class="dash-item-title">Ordenes listas</div>
            <div class="dash-item-content"> </div>
        </div>
        <div class="dash-item dash-footer">
            <div class="dash-item-title">Graficos</div>
            <div class="dash-item-content"> </div>
        </div>
    </div>
</div>