/* #region order */

/* Estilos generales */
body {
    font-family: Arial bold, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #ffffff;
}

.header {
    background-color: #16354D;
    color: #ffffff;
}

h1.title {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    border: 1px solid #000000;
}

/* Estilos para componentes input y select */
td input,
td select {
    width: 100%;
    box-sizing: border-box;
    border-style: none;
    text-align: center;
    text-transform: uppercase;
}

button {
    background-color: #16354D;
    color: #E4E5EA;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #6B99C3;
}

/* Estilos para ocultar el botón de imprimir en la versión impresa */
@media print {
    .print-button-container {
        display: none;
    }
}
/* #endregion order */