/* Paleta de colores y su distribucion:

Fondo por defecto:#D2D2D4

//Botones sobre el fondo por defecto
Botones: #16354D
Botones Hover: #6B99C3
Texto botones: #E4E5EA
Texto botones hover: #E4E5EA

//Texto y lineas sobre el fondo por defecto
Texto: #0C151C
Lineas: #0C151C */

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0C151C;
  /* Color de fondo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
  content: "";
  background-image: url('https://i.redd.it/yvyj7hwc4pv31.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* navbar */
nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #0C151C;
  overflow: hidden;
  transition: 0.2s;
}

nav:hover {
  width: 280px;
  transition: 0.2s;
}

.logo {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border-radius: 100%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #E4E5EA;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}

a.active {
  background-color: #D2D2D4;
  color: #0C151C;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 15px;
  margin-left: 10px;
}

.nav-item-logout {
  position: relative;
  top: 15px;
  margin-left: -5px;
}

a:hover {
  background: #D2D2D4;
  color: #0C151C;
}

a:hover i {
  color: #0C151C;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #16354D;
  color: #E4E5EA;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0px 20px 0px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 80%;
  /* Ajustar el ancho al 80% del contenedor */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translateX(-50%);
  /* Centrar horizontalmente */
  white-space: nowrap;
  overflow: hidden;
}

.logout:hover {
  background: #6B99C3;
  /* Color del botón al pasar el mouse */
  color: #E4E5EA;
  /* Color del texto del botón al pasar el mouse */
}

/* RBdash.html y basicamente cualquier partial ///////////////////////////////////////////////////////// */
.container {
  display: flex;
}

.main {
  position: relative;
  padding: 20px;
  width: 100%;
  height: calc(100% - 4em);
}

.main-top {
  display: flex;
  width: 100%;
  color: #E4E5EA;
}

.dash-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: grid;
  padding: 15px;
  grid-template-columns: 50% 50%;
  gap: 0.7em;
  grid-template-rows: 20% 60% 20%;
  height: 85vh;
  max-height: 85vh;
}

.dash-item {
  background-color: #D2D2D4;
  padding: 5px;
  border: 2px solid #16354D;
  border-radius: 10px;
}

.dash-item:hover {
  box-shadow: 0 2px 8px 0 #E4E5EA;
}

.dash-header,
.dash-footer {
  grid-column: 1 / 3;
}

.dash-item-title {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #16354D;
  font-weight: 500;
  font-size: large;
}

.dash-item-title>i {
  float: right;
}

.dash-item-content {
  padding: 5px;
  display: grid;
  overflow: hidden;
  min-height: 0;
  height: calc(100% - 26px);
}

.inventory-form {
  position: relative;
  display: grid;
  overflow: auto;
  padding: 10px;
  row-gap: 10px;
  overflow: auto;
  grid-template-columns: auto auto;
  min-height: 0;
  font-size: 1em;
  max-height: calc(100% - 62px);
}

.add-item {
  position: sticky;
  bottom: 0px;
  width: 50%;
  left: 50%;
  background: #16354D;
  color: #E4E5EA;
  font-size: 1em;
  text-align: center;
  padding: 10px 0px 20px 0px;
  border-radius: 10px;
  height: 40px;
  border-width: 10px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #16354D
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #437bd3
}