/* Paleta de colores y su distribucion:

Fondo por defecto:#D2D2D4

//Botones sobre el fondo por defecto
Botones: #16354D
Botones Hover: #6B99C3
Texto botones: #E4E5EA
Texto botones hover: #E4E5EA

//Texto y lineas sobre el fondo por defecto
Texto: #0C151C
Lineas: #0C151C */

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* #region main and login styles ----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0C151C;
  /* Color de fondo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
  content: "";
  background-image: url('https://i.redd.it/yvyj7hwc4pv31.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* navbar */
nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #0C151C;
  overflow: hidden;
  transition: 0.2s;
}

nav:hover {
  width: 280px;
  transition: 0.2s;
}

.logo {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border-radius: 100%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #E4E5EA;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}

a.active {
  background-color: #D2D2D4;
  color: #0C151C;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 15px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 15px;
  margin-left: 10px;
}

.nav-item-logout {
  position: relative;
  top: 15px;
  margin-left: -5px;
}

a:hover {
  background: #D2D2D4;
  color: #0C151C;
}

a:hover i {
  color: #0C151C;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: #16354D;
  color: #E4E5EA;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0px 20px 0px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 80%;
  /* Ajustar el ancho al 80% del contenedor */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translateX(-50%);
  /* Centrar horizontalmente */
  white-space: nowrap;
  overflow: hidden;
}

.logout:hover {
  background: #6B99C3;
  /* Color del botón al pasar el mouse */
  color: #E4E5EA;
  /* Color del texto del botón al pasar el mouse */
}

/* RBdash.html y basicamente cualquier partial ///////////////////////////////////////////////////////// */
.container {
  display: flex;
}

.main {
  position: relative;
  padding: 20px;
  width: 100%;
  height: calc(100% - 4em);
}

.main-top {
  display: flex;
  width: 100%;
  color: #E4E5EA;
}

/* #endregion */


/* #region Dashboard general styles ---------------------------------------------------------------------*/
.dash-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: grid;
  padding: 15px;
  gap: 0.7em;
  grid-template: 20% 60% 20% / 50% 50%;
  height: 85vh;
  max-height: 85vh;
}

.dash-container-WO,
.dash-container-inventory {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: grid;
  padding: 15px;
  gap: 0.7em;
  grid-template: 20% 80% / 50% 50%;
  height: 85vh;
  max-height: 85vh;
}

.dash-item {
  background-color: #D2D2D4;
  padding: 5px;
  border: 2px solid #16354D;
  border-radius: 10px;
}

.dash-item:hover {
  box-shadow: 0 2px 8px 0 #E4E5EA;
}

.dash-header,
.dash-footer {
  grid-column: 1 / 3;
}

.dash-item-title {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #16354D;
  font-weight: 500;
  font-size: large;
  padding-left: 15px;
}

.dash-item-title>i {
  float: right;
}

.dash-item-content {
  padding: 5px;
  display: grid;
  overflow: hidden;
  grid-template-rows: max-content auto;
  min-height: 0;
  height: calc(100% - 26px);
}

/* #endregion Dashboard Styles*/


/* #region Inventory  ---------------------------------------------------------------------------*/

#sp-inv-info {
  /* Span styling  */
  border-bottom: 4px solid #437bd3;
}

.inventory-form {
  display: grid;
  gap: 15px;
  grid-template-columns: max-content auto;
  align-content: space-evenly;
}

.inventory-form input,
.inventory-form select {
  font-size: 1em;
  color: #0C151C;
  border: none;
  border-bottom: 1px solid #0C151C;
  outline: none;
  background: transparent;
}

.add-item {
  grid-column-start: 2;
  width: 100%;
  height: 32px;
  background: #16354D;
  color: #E4E5EA;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  padding: 8px;
  border-radius: 25px;
  transition: 0.5s ease-in;
  border-style: none;
}

.add-item:hover {
  background: #6B99C3;
  color: #E4E5EA;
}

#list-search {
  font-size: medium;
  margin: 5px 15px 5px 5px;
  padding: 3px;
  background-color: transparent;
  border-bottom: 4px solid #437bd3;
  border-radius: 2px;
  max-height: 30px;
}

#list-search:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  border: 1px solid #6B99C3;
  border-bottom: 4px solid #0C151C;
}

.dash-products-list {
  list-style: none;
  overflow-y: auto;
  padding-right: 1%;
}

.dash-products-list>li {
  border-bottom: 4px solid #437bd3;
  border-radius: 2px;
  margin-bottom: 5px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100px auto auto;
  grid-template-rows: auto auto;
}

.dash-products-list>li:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  border: 2px solid #437bd3;
  border-bottom: 4px solid #0C151C;
}

.dash-products-list>li:last-child {
  margin-bottom: 0;
}

.dash-products-list>li>img {
  grid-column: 1;
  grid-row: 1 / 3;
  margin: 10px;
  border: 2px solid #16354D;
  border-radius: 5px;
  height: 80px;
  width: 80px;
  padding: 5px;
}

.p-item-model,
.p-item-name {
  font-size: medium;
}

/* #endregion End inventory*/


/* #region Work Orders ---------------------------------------------------------------------------*/

/* ESTE ES TU WO-FORM QUE CREASTE */
/* .WO-form {
  display: flex;
  gap: 15px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
} */
.WO-form {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.WO-Input-div {
  display: grid;
}

.dropdown-btn {
  color: #0C151C;
}

.dropdown-cntn {
  display: none;
  position: absolute;
  background-color: #E4E5EA;
  min-width: 160px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  z-index: 1;
  border: 2px solid #437bd3;
  border-radius: 3px;
}

.dropdown:hover .dropdown-cntn {
  display: grid;
  align-content: space-evenly;
  justify-content: baseline;
  grid-auto-flow: row;
}

.checkbox-inp:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  border-bottom: 4px solid #437bd3;
  font-weight: bold;
}

.checkbox-inp {
  display: grid;
  align-content: space-evenly;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 15px;
  padding: 10px;
}

.checkbox-inp label {
  width: 100%;
}

.add-order {
  width: 100%;
  background: #16354D;
  color: #E4E5EA;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  padding: 8px;
  border-radius: 25px;
  transition: 0.5s ease-in;
  border-style: none;
}

.add-order:hover {
  background: #6B99C3;
  color: #E4E5EA;
}

.WO-form input {
  font-size: 1em;
  color: #0C151C;
  border: none;
  border-bottom: 1px solid #0C151C;
  outline: none;
  background: transparent;
}

#WO-p-search,
#WO-c-search {
  font-size: medium;
  margin: 5px 15px 5px 5px;
  padding: 3px;
  border: 1px solid #6B99C3;
  background-color: transparent;
  border-bottom: 4px solid #437bd3;
  border-radius: 2px;
  max-height: 30px;
}

#WO-p-search:hover,
#WO-c-search:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  border: 1px solid #6B99C3;
  border-bottom: 4px solid #0C151C;
}


.dash-WO-list {
  list-style: none;
  overflow: auto;
  padding-right: 1%;
}

.dash-WO-list>li {
  height: 40px;
  align-items: center;
  border-bottom: 2px solid #437bd3;
  border-radius: 2px;
  display: flex;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto;
  margin: 15px 5px;
}

.dash-WO-list>li:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  border: 2px solid #437bd3;
  border-bottom: 4px solid #0C151C;
}

.dash-WO-list>li:last-child {
  margin-bottom: 0;
}

.p-WO-num,
.p-WO-desc {
  font-size: medium;
}

.dash-Completed-WO {
  /*contenedor*/
  display: grid;
  grid-auto-columns: 150px;
  grid-template-columns: auto auto;
  grid-auto-rows: 150px;
  grid-auto-flow: row;
  gap: 15px;
  padding: 15px 0;
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.WO-completed-item {
  /* objeto */
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #D2D2D4;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.WO-completed-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.384);
  border: 2px solid #437bd3;
}

/* #endregion WorK Orders*/


/* #region Scrollbar ---------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #16354D
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #437bd3
}

/* #endregion Scrollbar*/