/* Estilos CSS para la página */
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #000000;
    color: #005366;
    font-family: Arial, sans-serif;
  }
  
  section {
    background-color: #f7e7be;
    padding: 10px;
    margin: 10px;
  }
  
  button, a {
    background-color: #005366;
    color: #00777b;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:hover, a:hover {
    background-color: #00777b;
  }
  
  /* Estilos CSS para el sidebar colapsable */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f7e7be;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .sidebar a, .cerrar-sesion a {
    display: block;
    color: #005366;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a:hover, .cerrar-sesion a:hover {
    color: #00777b;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .cerrar-sesion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10px;
  }
  